@page "/game/{puzzleId}"

@using Sudoku.Web.Server.Components
@using Sudoku.Web.Server.Services

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="game-view">
            @if (SessionManager.CurrentSession is not NullGameSession)
            {
                <GameStats Session="@SessionManager.CurrentSession" />
            }
            <GameBoard Puzzle="Puzzle"
                       OnCellFocus="HandleSetSelectedCell"
                       OnCellChanged="HandleCellChanged"
                       NotificationService="CellFocusedNotificationService"
                       IsPencilMode="IsPencilMode"
                       OnPossibleValueChanged="HandlePossibleValueChanged"/>
            <GameControls OnValueChanged="HandleCellValueChanged"
                         PuzzleId="@PuzzleId"
                         OnReset="HandleReset"
                         OnUndo="HandleUndo"
                         OnPencilMode="HandlePencilModeToggle"
                         OnPossibleValueChanged="HandlePossibleValueChanged"
                         TotalMoves="@SessionManager.CurrentSession.Board.Count(x => x is { Value: not null, Locked: false })" />
            <VictoryDisplay IsVictory="@Puzzle.IsSolved()"
                            ElapsedTime="@SessionManager.CurrentSession.PlayDuration" />
        </div>
    </div>
</div>