@page "/game/{puzzleId}"

@using Sudoku.Web.Server.Components

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="game-view">
            @if (GameManager is { CurrentStatistics: not null })
            {
                <GameStats GameManager="@GameManager" />
                <GameBoard Game="@CurrentGame"
                           OnCellFocus="HandleSetSelectedCell"
                           OnCellChanged="HandleCellChanged"
                           NotificationService="@NotificationService"
                           IsPencilMode="IsPencilMode"
                           OnPossibleValueChanged="HandlePossibleValueChanged" />
                <GameControls OnValueChanged="HandleCellValueChanged"
                              PuzzleId="@PuzzleId"
                              OnReset="HandleReset"
                              OnUndo="HandleUndo"
                              OnPencilMode="HandlePencilModeToggle"
                              OnPossibleValueChanged="HandlePossibleValueChanged"
                              TotalMoves="@GameManager.CurrentStatistics.TotalMoves" />
                <VictoryDisplay IsVictory="@GameManager.Game.IsSolved()"
                                ElapsedTime="@GameManager.CurrentStatistics.PlayDuration" />
            }
        </div>
    </div>
</div>