@page "/"
@using Sudoku.Web.Server.Components

<PageTitle>Home</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="landing-page">
            <SudokuImage/>
            <ul class="menu">
                <li>
                    <Button @onclick="ToggleDifficultyOptions"><i class="fa-solid fa-play-circle"></i> Start New Game</Button>
                </li>
                <ul class="sub-menu @(_showDifficulty ? "open" : "")">
                    <li><Button @onclick="@(() => StartNewGame("Easy"))">Easy</Button></li>
                    <li><Button @onclick="@(() => StartNewGame("Medium"))">Medium</Button></li>
                    <li><Button @onclick="@(() => StartNewGame("Hard"))">Hard</Button></li>
                </ul>
                <li>
                    <Button @onclick="ToggleDisplaySavedGames" disabled="@(_savedGames == null || !_savedGames.Any())">
                        <i class="fa-solid fa-folder-open"></i> Load Game
                    </Button>
                </li>
                <ul class="sub-menu @(_showSavedGames ? "open" : "")">
                    @if (_savedGames != null)
                    {
                        foreach (var game in _savedGames.OrderByDescending(g => g.LastUpdated))
                        {
                            <li>
                                <Button @onclick="() => LoadGame(game.PuzzleId)">
                                    Saved: @game.LastUpdated.ToLocalDateTime()
                                </Button>
                                <button @onclick="() => DeleteGameAsync(game.PuzzleId)">
                                    <i class="fa-solid fa-trash del-game-icon"></i>
                                </button>
                            </li>
                        }
                    }
                </ul>
            </ul>
        </div>
    </div>
</div>
