@using Microsoft.AspNetCore.Components.Routing
@using Sudoku.Web.Server.Shared

<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
        <ApplicationInsightsInit />
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<div id="blazor-error-ui">
    An error has occurred. This application may no longer respond until reloaded.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
